<div class="home-video">
	<header class="header">
		<div class="container">
			<a class="logo" href="#TODO">
				<img src="{{ site.theme.link }}/static/logo.png" />
			</a>
		</div>
	</header>

	<div class="video-background">
		<video autoplay muted loop playsinline>
			<source src="{{ hero_video }}" type="video/mp4" />Your browser does not
			support the video tag.
		</video>
	</div>
</div>

<div class="gradient"></div>
