<ul class="toc">
	{% for item in items %}
		<li class="toc-level-{{ item.level }}">
			<a href="#{{ item.slug }}">{{ item.text }}</a>
			{% if item.children %}
				{% include 'partials/toc.twig' with {
					items: item.children
				} %}
			{% endif %}
		</li>
	{% endfor %}
</ul>
