{% extends 'layouts/base.twig' %}

{% block content %}
	{{ post.content }}
	{% for post in posts %}
		<p>
			hello
		</p>
		{% include [
			'partials/tease-' ~ post.type ~ '.twig',
			'partials/tease.twig'
		] %}
	{% endfor %}

	{% include 'partials/pagination.twig' with {
		pagination: posts.pagination({
			show_all: false,
			mid_size: 3,
			end_size: 2
		})
	} %}
{% endblock %}
