<a class="header__button js-cart-button" href="{{ fn('wc_get_cart_url') }}">
	<svg width="22"
		height="22"
		viewBox="0 0 22 22"
		fill="none"
		xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd"
			clip-rule="evenodd"
			d="M4.7 1.23337C4.88885 0.981568 5.18524 0.833374 5.5 0.833374H16.5C16.8148 0.833374 17.1111 0.981568 17.3 1.23337L20.05 4.90004C20.1798 5.07314 20.25 5.28367 20.25 5.50004V18.3334C20.25 19.0848 19.9515 19.8055 19.4201 20.3368C18.8888 20.8682 18.1681 21.1667 17.4167 21.1667H4.58333C3.83189 21.1667 3.11122 20.8682 2.57986 20.3368C2.04851 19.8055 1.75 19.0848 1.75 18.3334V5.50004C1.75 5.28367 1.82018 5.07314 1.95 4.90004L4.7 1.23337ZM6 2.83337L3.75 5.83337V18.3334C3.75 18.5544 3.8378 18.7663 3.99408 18.9226C4.15036 19.0789 4.36232 19.1667 4.58333 19.1667H17.4167C17.6377 19.1667 17.8496 19.0789 18.0059 18.9226C18.1622 18.7663 18.25 18.5544 18.25 18.3334V5.83337L16 2.83337H6Z"
			fill="#0E2A53" />
		<path fill-rule="evenodd"
			clip-rule="evenodd"
			d="M1.75 5.5C1.75 4.94772 2.19772 4.5 2.75 4.5H19.25C19.8023 4.5 20.25 4.94772 20.25 5.5C20.25 6.05228 19.8023 6.5 19.25 6.5H2.75C2.19772 6.5 1.75 6.05228 1.75 5.5Z"
			fill="#0E2A53" />
		<path fill-rule="evenodd"
			clip-rule="evenodd"
			d="M7.3335 8.16663C7.88578 8.16663 8.3335 8.61434 8.3335 9.16663C8.3335 9.87387 8.61445 10.5521 9.11454 11.0522C9.61464 11.5523 10.2929 11.8333 11.0002 11.8333C11.7074 11.8333 12.3857 11.5523 12.8858 11.0522C13.3859 10.5521 13.6668 9.87387 13.6668 9.16663C13.6668 8.61434 14.1145 8.16663 14.6668 8.16663C15.2191 8.16663 15.6668 8.61434 15.6668 9.16663C15.6668 10.4043 15.1752 11.5913 14.3 12.4665C13.4248 13.3416 12.2378 13.8333 11.0002 13.8333C9.76249 13.8333 8.5755 13.3416 7.70033 12.4665C6.82516 11.5913 6.3335 10.4043 6.3335 9.16663C6.3335 8.61434 6.78121 8.16663 7.3335 8.16663Z"
			fill="#0E2A53" />
	</svg>

	<span class="cart-count {{ cart_count <= 0 ? 'empty' : '' }}">
		{{ cart_count }}
	</span>
</a>
